{% extends 'base.html' %}

{% block content %}
    <h1>Add Journey</h1>
<div class="container">
  <div class="row mb-3">
    <div class="col">
      <form id="searchForm">
        <div class="input-group">
          <input type="text" id="departureSearchInput" name="departure_station" class="form-control" placeholder="Select departure station...">
          <input type="hidden" id="departureStationInput" name="departure_station_id">
        </div>
      </form>
      <div id="departureSuggestionBox"></div>
    </div>
    <div class="col">
      <form id="returnSearchForm">
        <div class="input-group">
          <input type="text" id="returnSearchInput" name="return_station" class="form-control" placeholder="Select return station...">
          <input type="hidden" id="returnStationInput" name="return_station_id">
        </div>
      </form>
      <div id="returnSuggestionBox"></div>
    </div>
  </div>
</div>

    <form method="POST" action="{{ url_for('journey.add_journey') }}">
        <div class="form-group">
            <label for="departure_t">From Date:</label>
            <input type="text" name="departure_t" id="departure_t" class="form-control" autocomplete="off">
        </div>
        <div class="form-group">
            <label for="return_t">To Date:</label>
            <input type="text" name="return_t" id="return_t" class="form-control" autocomplete="off">
        </div>
          <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script>
    flatpickr("#departure_t, #return_t", {
      enableTime: true,
      enableSeconds: true,
      dateFormat: "Y-m-d H:i:S",
    });
  </script>
        <div class="form-group">
            <label for="covered_distance">Covered Distance in Meters:</label>
            <input type="text" name="covered_distance_m" id="covered_distance" class="form-control">
        </div>
        <input type="hidden" id="departure_station" name="departure_station_id" value="">
        <input type="hidden" id="return_station" name="return_station_id" value="">
        <button type="submit" class="btn btn-primary">Add</button>
    </form>

    <a href="{{ url_for('journey.add_journey') }}" onclick="return confirm('Are you sure you want to cancel this journey?')">Cancel</a>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/smoothness/jquery-ui.css">

    <script>
              var jq = $.noConflict();
        jq(function() {
            const departureSearchForm = document.getElementById("departureSearchForm");
            const departureSearchInput = document.getElementById("departureSearchInput");
            const departureSuggestionBox = document.getElementById("departureSuggestionBox");
            const departureStationInput = document.getElementById("departure_station");

            const returnSearchForm = document.getElementById("returnSearchForm");
            const returnSearchInput = document.getElementById("returnSearchInput");
            const returnSuggestionBox = document.getElementById("returnSuggestionBox");
            const returnStationInput = document.getElementById("return_station");

            departureSearchInput.addEventListener("input", function(event) {
                const searchQuery = event.target.value;
                if (searchQuery.length > 3) {                    fetch(`/station/getstationlist?search=${encodeURIComponent(searchQuery)}`)
                        .then((response) => response.json())
                        .then((data) => {
                            departureSuggestionBox.innerHTML = "";
                            data.forEach((station) => {
                                const suggestion = document.createElement("p");
                                const link = document.createElement("a");
                                link.textContent = station.name;
                                link.href = "#";
                                suggestion.appendChild(link);
                                suggestion.addEventListener("click", function() {
                                    departureSearchInput.value = station.name; // Set the value of search input to the clicked suggestion
                                    departureStationInput.value = station.id; // Set the value of the hidden input for departure station
                                    departureSuggestionBox.innerHTML = ""; // Clear the suggestion box after selecting a suggestion
                                });
                                departureSuggestionBox.appendChild(suggestion);
                            });
                        });
                } else {
                    departureSuggestionBox.innerHTML = ""; // Clear the suggestion box if search query length is not sufficient
                }
            });

            returnSearchInput.addEventListener("input", function(event) {
                const searchQuery = event.target.value;
                if (searchQuery.length > 3) {
                    fetch(`/station/getstationlist?search=${encodeURIComponent(searchQuery)}`)
                        .then((response) => response.json())
                        .then((data) => {
                            returnSuggestionBox.innerHTML = "";
                            data.forEach((station) => {
                                const suggestion = document.createElement("p");
                                const link = document.createElement("a");
                                link.textContent = station.name;
                                link.href = "#";
                                suggestion.appendChild(link);
                                suggestion.addEventListener("click", function() {
                                    returnSearchInput.value = station.name; // Set the value of search input to the clicked suggestion
                                    returnStationInput.value = station.id; // Set the value of the hidden input for return station
                                    returnSuggestionBox.innerHTML = ""; // Clear the suggestion box after selecting a suggestion
                                });
                                returnSuggestionBox.appendChild(suggestion);
                            });
                        });
                } else {
                    returnSuggestionBox.innerHTML = ""; // Clear the suggestion box if search query length is not sufficient
                }
            });
        });
    </script>
{% endblock %}


