{% extends 'base.html' %}

{% block content %}
    <h1>Add Station</h1>
<form method="POST" action="{{ url_for('station.add_station') }}">
    {% for key, value in station.items() %}
        {% if key != 'id' and key != 'total_departure_journeys' and key != 'total_return_journeys' %}
            <div class="form-group">
                <label for="{{ key }}">{{ key|title }}</label>
                <input type="text" class="form-control" id="{{ key }}" name="{{ key }}" value="{{Nothing}}">
            </div>
        {% endif %}
    {% endfor %}
    <button type="submit" class="btn btn-primary">Add</button>
</form>

    <a href="{{ url_for('station.add_station') }}" onclick="return confirm('Are you sure you want to cancel this station?')">Cancel</a>
{% endblock %}