{% extends 'base.html' %}

{% block content %}
<h3>Journeys ({{pagination.total}})</h3>
<div class="container">
  <div class="row mb-3">
    <div class="col">
      <form id="searchForm">
        <div class="input-group">
          <input type="text" id="searchInput" name="search" class="form-control" placeholder="Search By Departure Station...">
        </div>
      </form>
      <div id="suggestionBox"></div>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='journey_search.js') }}"></script>

<div class="journeys-container">
  {% for journey in page_data.journeys %}
      <p class="journey-text">
      Departure Station: <a href="{{ url_for('station.station_details', station_id=journey.departure_station_id) }}">{{ journey.departure_station_name }}</a>
      Return Station: <a href="{{ url_for('station.station_details', station_id=journey.return_station_id) }}">{{ journey.return_station_name }}</a>
      Distance Traveled: {{ journey.covered_distance_m | int / 1000 }}Km ({{ journey.covered_distance_m}}m)
      Duration: {{ journey.duration_sec | int // 60 }} Minutes {{ journey.duration_sec }}(s)</a>
      </p>
  {% endfor %}
</div>


<div class="pagination justify-content-center flex-wrap">
    {% if pagination.has_prev %}
        {% set prev_page_num = pagination.page - 1 %}
        <a class="btn btn-primary mr-2 mb-2" href="{{ url_for('journey.home', page=prev_page_num) }}">Previous</a>
    {% endif %}

    {% for page_num in range(page_data.start_page, page_data.end_page + 1) %}
        {% if page_num == pagination.page %}
            <a class="btn btn-primary active mr-2 mb-2" href="{{ url_for('journey.home', page=page_num) }}">{{ page_num }}</a>
        {% else %}
            <a class="btn btn-primary mr-2 mb-2" href="{{ url_for('journey.home', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
    {% endfor %}

    {% if pagination.has_next %}
        {% set next_page_num = pagination.page + 1 %}
        <a class="btn btn-primary mb-2" href="{{ url_for('journey.home', page=next_page_num) }}">Next</a>
    {% endif %}
</div>


{% endblock %}

{% block custom_styles %}
  <style>
    .card-title {
      font-size: 1.25rem;
      margin-bottom: 0.5rem;
    }

    .card-text {
      margin-bottom: 0.25rem;
    }

    .card-text:last-child {
      margin-bottom: 0;
    }
  </style>

{% endblock %}
