{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>{{page_data.station.Name}} Details</h1>
        <hr>
        <div class="row">

            <div class="col-md-6">
                <table class="table table-bordered table-hover">
                    <tbody>
                      {% for key, value in page_data.station.items() %}
                        <tr>
                            <td><strong>{{key}}</strong></td>
                            <td>{{ value }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
               <div class="button-row" style="display: flex; justify-content: space-between;">
    <form id="deleteForm" action="{{ url_for('station.delete_station', station_id=page_data.station.id) }}" method="post">
        <button type="submit" class="btn btn-danger" onclick="return confirmDelete()">Delete Station</button>
    </form>
</div>

<script>
    function confirmDelete() {
        return confirm('Are you sure you want to delete this station?');
    }
</script>

            </div>

        </div>
    </div>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}