{% extends 'base.html' %}

{% block content %}
<h3>Stations ({{pagination.total}})</h3>
<div class="container">
  <div class="row mb-3">
    <div class="col">
      <form id="searchForm">
        <div class="input-group">
          <input type="text" id="searchInput" name="search" class="form-control" placeholder="Search...">
        </div>
      </form>
      <div id="suggestionBox"></div>
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='station_search.js') }}"></script>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for station in page_data.stations %}
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">{{ station.name }}</h5>
            <p class="card-text">Address: {{ station.adress }}</p>
            <p class="card-text">Operator: {{ station.operaattor }}</p>
            <p class="card-text">Capacity: {{ station.kapasiteet }}</p>
            <p class="card-text"><a href="https://www.google.com/maps/search/?api=1&query={{ station.y }},{{ station.x }}" target="_blank">Pin Location</a></p>
            <a href="{{ url_for('station.station_details', station_id=station.id) }}" class="btn btn-primary">Details</a>

          </div>
        </div>
      </div>
    {% endfor %}
  </div>

<div class="pagination justify-content-center flex-wrap">
    {% if pagination.has_prev %}
        {% set prev_page_num = pagination.page - 1 %}
        <a class="btn btn-primary mr-2 mb-2" href="{{ url_for('station.home', page=prev_page_num) }}">Previous</a>
    {% endif %}

    {% for page_num in range(1, total_pages + 1) %}
        {% if page_num == pagination.page %}
            <a class="btn btn-primary active mr-2 mb-2" href="{{ url_for('station.home', page=page_num) }}">{{ page_num }}</a>
        {% else %}
            <a class="btn btn-primary mr-2 mb-2" href="{{ url_for('station.home', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
    {% endfor %}

    {% if pagination.has_next %}
        {% set next_page_num = pagination.page + 1 %}
        <a class="btn btn-primary mb-2" href="{{ url_for('station.home', page=next_page_num) }}">Next</a>
    {% endif %}
</div>




{% endblock %}

{% block custom_styles %}
  <style>
    .card-title {
      font-size: 1.25rem;
      margin-bottom: 0.5rem;
    }

    .card-text {
      margin-bottom: 0.25rem;
    }

    .card-text:last-child {
      margin-bottom: 0;
    }
  </style>

{% endblock %}
